---
---

@import "{{ site.theme }}";

#logo {
    border: 0;
    padding: 0;
    box-shadow: 0 0 150px #4cb35a;
}

body {
    background: #403f38;
    font-family: 'Ubuntu', sans-serif;
    color: #403f38;
}

#header_wrap {
    background: #403f38 !important;
    color: #403f38!important;
}

#footer_wrap {
    background: #403f38 !important;
    color: #403f38 !important;
}

* {
    font-family: 'Ubuntu', sans-serif !important;
}

#forkme_banner {
    background: url(../images/blacktocat.png) #eeb200 no-repeat 95% 50%;
}