---
---

@import "{{ site.theme }}";

#logo {
    border: 0;
    padding: 0;
}

body {
    background: #403f38;
    font-family: 'Ubuntu', sans-serif;
    color: #403f38;
}

#header_wrap {
    background: #403f38 !important;
    color: #403f38!important;
}

#footer_wrap {
    background: #403f38 !important;
    color: #403f38 !important;
}

* {
    font-family: 'Ubuntu', sans-serif !important;
}